body{
    background-image: url(../img/back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
table{
    border: 1px solid black;
    
    margin: auto;
    border: none;
}
table td{
    border: 1px solid black;
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #caf0f8;
}
.board{
    width: max-content;
    margin: 0 auto;
}
.mark{
    background-color: #e9c46a;
}
.bomb{
    background-color: red;
}
.show0{
    background-color: #90e0ef;
}
.show1 {
    color: green;
    background-color: #90e0ef;
    font-weight: bold;
}
.show2{
    color: orange;
    background-color: #90e0ef;
    font-weight: bold;

}
.show3{
    color: yellow;
    background-color: #90e0ef;
    font-weight: bold;
    font-size: 20px;

}



